<ion-content [fullscreen]="true">

  <!-- CONTENEDOR DEL LOGO -->
  <div class="contenedor-logo">
    <img src="assets/img/Ojos.png" class="ojos-imagen" />
    <h1 class="logo-texto">(Nombre de la app en proceso :/)</h1>
  </div>

  <!-- TARJETA -->
  <div class="contenedor-registro">

    <h2 class="titulo-registro">REGISTRO</h2>
    <p class="subtexto">¿Aún no tienes cuenta de (Nombre de la app en proceso :/)? ¡Regístrate!</p>

    <!-- FORMULARIO -->
    <form (ngSubmit)="registrar()">

      <!-- INPUT: NOMBRE -->
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="formulario.nombre" name="nombre" required></ion-input>

      <!-- INPUT: CORREO -->
      <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="formulario.correo" name="correo"
        required></ion-input>

      <!-- INPUT: CONTRASEÑA -->
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="formulario.contrasena" name="contrasena"
        required></ion-input>

      <!-- INPUT: CONFIRMAR CONTRASEÑA -->
      <ion-input type="password" placeholder="Confirmar contraseña" [(ngModel)]="formulario.confirmarContrasena"
        name="confirmarContrasena" required></ion-input>

      <!-- Contenedor de los roles -->
      <div class="rol-container">

        <ion-item lines="none" class="rol-item">
          <ion-label>Artista</ion-label>
          <ion-toggle [checked]="formulario.rol === 'artista'" (ionChange)="toggleRol('artista')">
          </ion-toggle>
        </ion-item>

        <ion-item lines="none" class="rol-item">
          <ion-label>Oyente</ion-label>
          <ion-toggle [checked]="formulario.rol === 'oyente'" (ionChange)="toggleRol('oyente')">
          </ion-toggle>
        </ion-item>

      </div>

      <div class="boton-container">
        <button type="submit" class="boton-siguiente">SIGUIENTE</button>
      </div>
    </form>
  </div>

</ion-content>